html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}


.header {
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: center;
}

.check-logo {
    height: 80px;
    width: 80px;
    filter: invert(99%) sepia(6%) saturate(76%) hue-rotate(276deg) brightness(114%) contrast(100%);
    margin: 8px;
}

.title {
    color: white;
    font-size: 2.5rem;
}

.sidebar {
    background-color: #ddd;
    width: 255px;
    padding: 10px 10px 10px 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.icon-wrapper:hover {
    background-color: lightgray;
}

.sidebar-icon,
.sidebar-icon-2 {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.sidebar-icon-2 {
    transition: ease-out 0.3s;
    outline: none;
}

.sidebar-icon-2:hover {
    box-shadow: inset 147px 0 0 0 lightcoral;
}


.sidebar-tab {
    font-size: 1.5rem;
    margin: 5px;
    cursor: pointer;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 75px;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer>p {
    color: white;
    font-size: 1rem;
}

.container {
    display: flex;
    flex: auto;
    min-height: calc(100vh - 100px - 50px);
    overflow: auto;
}

.main {
    display: flex;
    min-width: calc(100vw - 255px);
    min-height: calc(100vh - 100px - 50px);
    padding: 60px;
    flex-direction: column;
    overflow: auto;
}

#add-task-btn {
    font-size: 1.5rem;
    display: flex;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    border-style: none;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #ddd;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

#modal {
    width: 40%;
    height: 30%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    align-items: center;
    justify-content: space-around;
}

h3 {
    font-size: 2rem;
}

.input {
    height: 10%;
    width: 80%;
    font-size: 1rem;
}

#modal>#date {
    height: 10%;
    width: 80%;
    font-size: 1rem;
}


.modal-btn-container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 25%;
}

.modal-btn-container>.btn {
    width: 50%;
    font-size: 1rem;
    font-weight: 900;
}

.btn.green {
    background-color: lightgreen;
    cursor: pointer;
}

.btn.red {
    background-color: lightcoral;
    cursor: pointer;
}

h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 25px;
}

.modal-bg.active,
.modal-bg-2.active {
    visibility: visible;
    opacity: 1;
}

.task-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.task-item>p {
    margin-right: auto;
}

.task-item>img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.task-item>input {
    height: 30px;
    width: 120px;
    border: none;
    font-size: large;
}

.modal-bg-2 {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

#modal-2 {
    width: 40%;
    height: 30%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    align-items: center;
    justify-content: space-around;
}